@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html,
body {
  min-height: 100vh;
  margin: 0;
  color: #e5e7eb;          /* soft white */
  background-color: #0f1115; /* dark grey (crypto-style) */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
